Flask==3.1.2
Flask-Cors==6.0.1
Flask-SocketIO==5.4.1
boto3==1.40.30
opencv-python==4.12.0.88
opencv-contrib-python==4.12.0.88
torch==2.8.0
torchvision==0.23.0
ultralytics==8.3.199
pandas==2.3.2
requests==2.32.5
numpy==2.2.6
Pillow==11.3.0
tqdm==4.67.1
scikit-learn==1.7.2
fastapi==0.116.1
pydantic==2.11.9
uvicorn==0.35.0
tensorflow==2.20.0
gunicorn==23.0.0
gitpython==3.1.45
python-socketio==5.11.4
python-engineio==4.10.1
eventlet==0.37.0
python-multipart==0.0.16
aiofiles==24.2.0
watchdog==6.0.0
psutil==7.0.0
matplotlib==3.10.6
seaborn==0.13.2
plotly==5.25.0
dash==2.18.2
